# macOS
.DS_Store

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Jupyter (if used later)
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Logs
*.log